{% load i18n %}
<div class="flex flex-col gap-2">
    {% if current_files %}
        <ul class="text-sm text-font-important-light dark:text-font-important-dark">
            {% for file in current_files %}
                <li>
                    <a href="{{ file.url }}" target="_blank"
                       class="text-primary-600 hover:underline dark:text-primary-500">{{ file.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <input type="file" name="{{ widget.name }}"{% if multiple %} multiple{% endif %}
           class="block w-full text-sm text-font-default-light dark:text-font-default-dark"
           {% for name, value in widget.attrs.items %}{% if value != None and value != False %} {{ name }}="{{ value }}"{% endif %}{% endfor %}>
    {% if clearable and current_files %}
        <label class="flex flex-row items-center gap-2 text-sm">
            <input type="checkbox" name="{{ widget.name }}-clear">
            {% translate "Clear current file" %}
        </label>
    {% endif %}
</div>
